{% extends 'base.html' %}

{% block content %}

<!-- Section Tagline -->
	<section id="section-tagline" class="section-page">
		<div class="container">
			<h1>A Simple Setup to Connect Volunteers and Volunteer Opportunities.</h1>
		</div>
	</section>

	<!-- Section Services -->
	<section id="section-services" class="section-page">
		<div class="container">

			<div class="head-section">
          		<h2>Community Outreach</h2>
          		<p>Our vision is simple. We want people who are looking for volunteer opportunities to be able to set up a profile and have the ability to view organizations and events within their community that are interested in and schedule. The key feature of our application is smart matching feature that allows volunteers within the community to be matched to events that are within their scope, including both interests and availability.</p>
			</div><!-- /.head-section -->
			
			<br />
			<br />
			<div class="row">
				<article id="service_1" class="box-service col-md-4">
					<img alt="" title="Beautifully Simplistic" src="./images/service_1.png" data-at2x="./images/service_1@2.png" />
					<h4>Easy to Install</h4>
					<p>Organizations 
					</p>
				</article><!-- /#service_1 -->

				<article class="box-service col-md-4">
					<img alt="" title="Development Websites" class="retina" src="./images/service_2.png" data-at2x="./images/service_2@2.png" />
					<h4>Easy to Use</h4>
					<p>It's a one stop shop/social network to Volunteering within a community.  
					</p>
				</article><!-- /#service_2 -->

				<article class="box-service col-md-4 ">
					<img alt="" title="Free Management & Support" src="./images/service_3.png" data-at2x="./images/service_3@.png" />
					<h4>Easy to Manage</h4>
					<p>Organizations could list added security features or requirements necessary to signup within their community. 
					</p>
				</article><!-- /#service_3 -->
			</div><!-- .row -->
		</div><!-- .container -->
	</section><!-- #section-services -->

	<!-- Section Works -->
	<section id="section-works" class="section-page">
		<div class="container">

		<div class="head-section">
			<h2>Virginia Hackathon</h2>
			<p>This application was developed at HackVirginia from 22-23 Nov 2013.</p>
		</div>
		
		<br />

		

		</div><!-- .row -->
		</div><!-- /.container -->
	</section><!-- /#section-works -->

	<!-- Section Team -->
	<section id="section-team" class="section-page">
		<div class="container">

		<div class="head-section">
			<h2>Our Team</h2>
			<p>We are awesome team. </p>
		</div><!-- /.head-section -->
		<br />
		<div class="row">
			<div id="person_1" class="person col-md-3 col-xs-12 col-sm-6 col-md-3">
				<img alt="" title="" class="person-avatar img-circle" src="/static/img/team/daniel.jpeg" data-at2x="./images/persons/person_1@2.png" />
				<h4 class="person-name">Daniel Bond</h4>
				<span class="person-skills">GMU SRCT VP</span>
				<p class="person-description">My name is Daniel Bond.</p>

				<ul class="list-links-social">
					<li><a href=""><i class="icon-twitter"></i></a></li>
					<li><a href=""><i class="icon-facebook"></i></a></li>
					<li><a href=""><i class="icon-linkedin"></i></a></li>
					<li><a href=""><i class="icon-github"></i></a></li>
					<li><a href=""><i class="icon-dribbble"></i></a></li>
				</ul><!-- /#list-links-social -->
			</div><!-- /#person_1 -->

			<div id="person_2" class="col-md-3 person col-xs-12 col-sm-6 col-md-3">
				<img alt="" title="" class="person-avatar img-circle" src="/static/img/team/michel.jpeg" data-at2x="./images/persons/person_2@2.png" />
				<h4 class="person-name">Michel Rouly</h4>
				<span class="person-skills">GMU SRCT President</span>
				<p class="person-description">My name is Jean Michel Rouly. I am an undergraduate at George Mason University in Computer Science, with research interests in Computational Linguistics and Software Engineering. I currently serve as president of the George Mason Student-Run Computing and Technology organization.</p>

				<ul class="list-links-social">
					<li><a href=""><i class="icon-twitter"></i></a></li>
					<li><a href=""><i class="icon-facebook"></i></a></li>
					<li><a href=""><i class="icon-linkedin"></i></a></li>
					<li><a href=""><i class="icon-github"></i></a></li>
					<li><a href=""><i class="icon-dribbble"></i></a></li>
				</ul><!-- /#list-links-social -->
			</div><!-- /#person_2 -->

			<div id="person_3" class="col-md-3 person col-xs-12 col-sm-6 col-md-3">
				<img alt="" title="" class="person-avatar img-circle" src="/static/img/team/abdullah.jpeg" data-at2x="./images/persons/person_3@2.png" />
				<h4 class="person-name">Abdullah Sahyouni</h4>
				<span class="person-skills">Developer</span>
				<p class="person-description">I’m Abdullah Sahyouni, but I like to go by Abdullah Abdurrah. My specialty is mobile application development, but I'm lowly learning web based development. I"m interested in going into an AI field with interests in machine learning and robotics.</p>

				<ul class="list-links-social">
					<li><a href=""><i class="icon-twitter"></i></a></li>
					<li><a href=""><i class="icon-facebook"></i></a></li>
					<li><a href=""><i class="icon-linkedin"></i></a></li>
					<li><a href=""><i class="icon-github"></i></a></li>
					<li><a href=""><i class="icon-dribbble"></i></a></li>
				</ul><!-- /#list-links-social -->
			</div><!-- /#person_3 -->

			<div id="person_4" class="col-md-3 person col-xs-12 col-sm-6 col-md-3">
				<img alt="" title="" class="person-avatar img-circle" src="/static/img/team/chris.jpeg"./images/persons/person_4@2.png" />
				<h4 class="person-name">Chris Reffett</h4>
				<span class="person-skills">Backend Designer</span>
				<p class="person-description">Chris is a Gentoo developer who doesn't like web design that much.</p>

				<ul class="list-links-social">
					<li><a href=""><i class="icon-twitter"></i></a></li>
					<li><a href=""><i class="icon-facebook"></i></a></li>
					<li><a href=""><i class="icon-linkedin"></i></a></li>
					<li><a href=""><i class="icon-github"></i></a></li>
					<li><a href=""><i class="icon-dribbble"></i></a></li>
				</ul><!-- /#list-links-social -->
			</div><!-- /#person_4 -->
			
			<div id="person_5" class="col-md-3 person col-xs-12 col-sm-6 col-md-3">
				<img alt="" title="" class="person-avatar img-circle" src="/static/img/team/ben.png" data-at2x="./images/persons/person_4@2.png" />
				<h4 class="person-name">Ben Waters</h4>
				<span class="person-skills">Developer and Tools Admin</span>
				<p class="person-description">Hello I'm Ben Waters, a Junior Computer Science student at George Mason University. I expect to graduate in May 2015. I love to program in my spare time and have tons of projects running through my head. I like to play the guitar. I play hockey and lacrosse as well. I'm passionate about computers and anything technology related.</p>

				<ul class="list-links-social">
					<li><a href=""><i class="icon-twitter"></i></a></li>
					<li><a href=""><i class="icon-facebook"></i></a></li>
					<li><a href=""><i class="icon-linkedin"></i></a></li>
					<li><a href=""><i class="icon-github"></i></a></li>
					<li><a href=""><i class="icon-dribbble"></i></a></li>
				</ul><!-- /#list-links-social -->
			</div><!-- /#person_5 -->

		</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /#section-team -->

	
	

	<!-- section id="section-testimonial" class="section-page">
		<div class="container">
			<div class="head-section">
				<h2>Testimonial</h2>
			</div>
      
      		<div id="testimonial">
				<ul class="list-testimonial">

					<li id="testimonial_1">
						<p class="testimonial-quote">
						“Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.”
						</p>

						<span class="testimonial-source"><b>Ahmed Bouhuolia, Founder <a href="">Wpdesk</a></b></span>
					</li><!-- /#testimonial_1 -->

					<li id="testimonial_2">
						<p class="testimonial-quote">
						“Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.”
						</p>

						<span class="testimonial-source"><b>Ahmed Bouhuolia, Founder <a href="">Wpdesk</a></b></span>
					</li><!-- /#testimonial_2 -->

					<li id="testimonial_3">
						<p class="testimonial-quote">
						“Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.”
						</p>

						<span class="testimonial-source"><b>Ahmed Bouhuolia, Founder <a href="">Wpdesk</a></b></span>
					</li><!-- /#testimonial_3 -->

					<li id="testimonial_4">
						<p class="testimonial-quote">
						“Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.”
						</p>

						<span class="testimonial-source"><b>Ahmed Bouhuolia, Founder <a href="">Wpdesk</a></b></span>
					</li><!-- /#testimonial_4 -->

					<li id="testimonial_5">
						<p class="testimonial-quote">
						“Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.”
						</p>

						<span class="testimonial-source"><b>Ahmed Bouhuolia, Founder <a href="">Wpdesk</a></b></span>
					</li><!-- /#testimonial_5 -->

					<li id="testimonial_6">
						<p class="testimonial-quote">
						“Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.”
						</p>

						<span class="testimonial-source"><b>Ahmed Bouhuolia, Founder <a href="">Wpdesk</a></b></span>
					</li><!-- /#testimonial_6 -->

					<li id="testimonial_7">
						<p class="testimonial-quote">
						“Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.”
						</p>

						<span class="testimonial-source"><b>Ahmed Bouhuolia, Founder <a href="">Wpdesk</a></b></span>
					</li><!-- /#testimonial_7 -->

					<li id="testimonial_8">
						<p class="testimonial-quote">
						“Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell pepper water spinach spring onion salsify arugula black-eyed pea.”
						</p>

						<span class="testimonial-source"><b>Ahmed Bouhuolia, Founder <a href="">Wpdesk</a></b></span>
					</li><!-- /#testimonial_8 -->
					
				</ul><!-- /.list-testimonial -->

				<ul class="testimonial-bullets">
          
				</ul><!-- /.testimonial-bullets -->

      		</div><!-- /#testimonial -->
		</div><!-- /.container -->
	</section --!><!-- /#section-testimonial -->

	<section id="section-clients" class="section-page">
		<div class="container">
			<div class="head-section">
				<h2>Examples of the Communities we Will Help</h2>
			</div><!-- /.head-section -->
			
			<div class="row">
				<ul class="list-clients">
					<li class="col-md-2"><a href=""><img alt="" title="" class="img-responsive" src="./images/clients/client_1.png"></a></li>
					<li class="col-md-2"><a href=""><img alt="" title="" class="img-responsive" src="./images/clients/client_2.png"></a></li>
					<li class="col-md-2"><a href=""><img alt="" title="" class="img-responsive" src="./images/clients/client_3.png"></a></li>
					<li class="col-md-2"><a href=""><img alt="" title="" class="img-responsive" src="./images/clients/client_4.png"></a></li>
					<li class="col-md-2"><a href=""><img alt="" title="" class="img-responsive" src="./images/clients/client_5.png"></a></li>
					<li class="col-md-2"><a href=""><img alt="" title="" class="img-responsive" src="./images/clients/client_2.png"></a></li>
				</ul><!-- /.list-clients -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /#section-clients -->

	<!-- Section Contact -->
	<section id="section-contact" class="section-page">
		<div class="container">
			<div class="head-section">
				<h2>Contact Us</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
			</div><!-- /.head-section -->
		
			<div id="links-contact">
				<a class="skype" href="#" title=""></a>
				<a class="twitter" href="#" title=""></a>
				<a class="facebook" href="#" title=""></a>
				<a class="linkedin" href="#" title=""></a>
				<a class="google-plus" href="#" title=""></a>
				<a class="dribbble" href="#" title=""></a>
				<a class="github" href="#" title=""></a>
				<a class="instagram" href="#" title=""></a>
			</div><!-- /#links-contact -->
		</div><!-- /.container -->
	</section><!-- /#section-contact -->



{% endblock %}


