{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class ="row">
        <div class="col-md-6 back-tiles pull-left"><h3>The title: Feed of interests</h3>
          <div class="row">
            <div class="front-tiles"><h4>Once upon a midnight dreay while I pondered weak and weary
            over many a volumnous tale of forgotten yore.</h4></div>
          </div>
        </div>
        
        <div class="col-md-6 back-tiles pull-right"><h3>Org feed</h3>
          <div class="row">
            <div class="front-tiles"><h4>The tinLorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pellentesque, mi quis dapibus suscipit, nisl quam cursus dui, nec rutrum urna lacus dictum diam. Praesent hendrerit blandit sapien vehicula commodo. Ut ac dui porttitor, ultricies mi ut, feugiat eros. Curabitur cursus sit amet lacus id tincidunt. Maecenas commodo, urna viverra convallis gravida, sapien quam placerat mauris, sit amet iaculis dui dui luctus libero. Pellentesque quis ante at ante molestie congue. Aenean laoreet aliquet augue quis ultrices. Nam quis pharetra urna, in euismod orci. Donec volutpat luctus odio pretium adipiscing.

In pretium tristique auctor. Aenean id libero pharetra, tempor metus in, dictum mi. Nam aliquam nisl at sem aliquam, sed molestie tellus laoreet. Vivamus ut tristique eros, id mollis mi. Vivamus id fermentum erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Maecenas pulvinar eu turpis ac vestibulum. Sed dignissim tellus sem, congue eleifend neque interdum vel. Nulla vehicula malesuada erat, ut molestie purus semper ut. Integer malesuada enim in eros placerat molestie. Aliquam erat volutpat. Maecenas vulputate sit amet dui eget eleifend. Vivamus tempor, massa eu congue sollicitudin, mauris lorem tincidunt mi, ut fringilla sapien est ac erat. Aenean vehicula enim non augue mattis placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. with the actual information</h4></div>
          </div>
        </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 back-tiles pull-left"><h3>Recommendations</h3>
        <div class="row">
          <div class="front-tiles"><h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pellentesque, mi quis dapibus suscipit, nisl quam cursus dui, nec rutrum urna lacus dictum diam. Praesent hendrerit blandit sapien vehicula commodo. Ut ac dui porttitor, ultricies mi ut, feugiat eros. Curabitur cursus sit amet lacus id tincidunt. Maecenas commodo, urna viverra convallis gravida, sapien quam placerat mauris, sit amet iaculis dui dui luctus libero. Pellentesque quis ante at ante molestie congue. Aenean laoreet aliquet augue quis ultrices. Nam quis pharetra urna, in euismod orci. Donec volutpat luctus odio pretium adipiscing.

In pretium tristique auctor. Aenean id libero pharetra, tempor metus in, dictum mi. Nam aliquam nisl at sem aliquam, sed molestie tellus laoreet. Vivamus ut tristique eros, id mollis mi. Vivamus id fermentum erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Maecenas pulvinar eu turpis ac vestibulum. Sed dignissim tellus sem, congue eleifend neque interdum vel. Nulla vehicula malesuada erat, ut molestie purus semper ut. Integer malesuada enim in eros placerat molestie. Aliquam erat volutpat. Maecenas vulputate sit amet dui eget eleifend. Vivamus tempor, massa eu congue sollicitudin, mauris lorem tincidunt mi, ut fringilla sapien est ac erat. Aenean vehicula enim non augue mattis placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</h4></div>
        </div>
      </div>
      
      <div class="col-md-6 back-tiles pull-right"><h3>I'm sure that we can think of something else interesting to put here.</h3>
        <div class="row">
          <div class="front-tiles"><h4>The tinier text with the actual information</h4></div>
        </div>
      </div>
    </div>
      
</div><!-- /.container -->


<!-- Pagination -->
<br>
<div>
{% if opportunities.object_list and opportunities.paginator.num_pages > 1 %}
    <div>
        <ul class = "pager">
            {% if posts.has_previous %}
            <li class = "previous">
                <a href= "?page={{ opportunities.previous_page_number }}">&larr; Newer</a></li>
            {% else %}
            <li class = "previous disabled">
                <a href= "?page= {{opportunities.previous_page_number }}">&larr; Newer</a></li>
            {% endif %}
            <li><span>Page {{ opportunities.number }} of {{ opportunities.paginator.num_page }}</span></li>

            {% if opportunities.has_next %}
            <li class = "next">
                <a href= "?page={{ opportunities.next_page_number }}">Older &rarr;</a></li>
            {% else %}
            <li class = "next disabled">
                <a href= "?page={{ opportunities.next_page_number }}">Older &rarr;</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}
</div>

{% endblock %}


