{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class ="row">
        <div class="col-md-6 back-tiles pull-left"><h3>Interest Feed</h3>
          <div class="row">
            <div class="front-tiles"><h4>Opportunities matching with your tags. Query all opportunities and filtering by the user's tags and the date posted in reverse order.</h4></div>
          </div>
        </div>
        
        <div class="col-md-6 back-tiles pull-right"><h3>Org Feed</h3>
          <div class="row">
            <div class="front-tiles"><h4>All of the activity from your organizations. All opportunities from your selected organization sorted by reverse date.</h4></div>
          </div>
        </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 back-tiles pull-left"><h3>Recommendations</h3>
        <div class="row">
          <div class="front-tiles"><h4>Will show recommended events by your previous activity at some point, but for the time being, it wil merely newly created tags and organizations.</h4></div>
        </div>
      </div>
      
      <div class="col-md-6 back-tiles pull-right"><h3>Everything</h3>
        <div class="row">
          <div class="front-tiles"><h4>Query all the things</h4></div>
        </div>
      </div>
    </div>
      
</div><!-- /.container -->


<!-- Pagination -->
<br>
<div>
{% if opportunities.object_list and opportunities.paginator.num_pages > 1 %}
    <div>
        <ul class = "pager">
            {% if posts.has_previous %}
            <li class = "previous">
                <a href= "?page={{ opportunities.previous_page_number }}">&larr; Newer</a></li>
            {% else %}
            <li class = "previous disabled">
                <a href= "?page= {{opportunities.previous_page_number }}">&larr; Newer</a></li>
            {% endif %}
            <li><span>Page {{ opportunities.number }} of {{ opportunities.paginator.num_page }}</span></li>

            {% if opportunities.has_next %}
            <li class = "next">
                <a href= "?page={{ opportunities.next_page_number }}">Older &rarr;</a></li>
            {% else %}
            <li class = "next disabled">
                <a href= "?page={{ opportunities.next_page_number }}">Older &rarr;</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}
</div>

{% endblock %}
