{% extends 'base.html' %}

{% block content %}

<div class = "row-fluid">
    <div class = "span6i">
    Feed of opportunities filtered for your interests
    </div>

    <div class = "span6">
    Feed of orgs
    </div>
</div>

    <div class="row">
    <div class="span9">
    Level 1 column
    <div class="row">
    <div class="span6">Level 2</div>
    <div class="span3">Level 2</div>
    </div>
    </div>
    </div>

<p>
<button class="btn btn-large btn-primary" type="button">Large button</button>
<button class="btn btn-large" type="button">Large button</button>
</p>

<!-- Pagination -->
<br>
<div>
{% if opportunities.object_list and opportunities.paginator.num_pages > 1 %}
    <div>
        <ul class = "pager">
            {% if posts.has_previous %}
            <li class = "previous">
                <a href= "?page={{ opportunities.previous_page_number }}">&larr; Newer</a></li>
            {% else %}
            <li class = "previous disabled">
                <a href= "?page= {{opportunities.previous_page_number }}">&larr; Newer</a></li>
            {% endif %}
            <li><span>Page {{ opportunities.number }} of {{ opportunities.paginator.num_page }}</span></li>

            {% if opportunities.has_next %}
            <li class = "next">
                <a href= "?page={{ opportunities.next_page_number }}">Older &rarr;</a></li>
            {% else %}
            <li class = "next disabled">
                <a href= "?page={{ opportunities.next_page_number }}">Older &rarr;</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}
</div>

{% endblock %}


