<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
      data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">step UP</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/about">About</a></li>
      </ul>

      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <div class="input-group merged">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" class="form-control" placeholder="Search" />
          </div>
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>

      <div class="navbar-right">
        <ul class="nav navbar-nav">
          {{ user.username }}
          <li><a href="/person/abdullah">Profile</a></li>
          <li><a href="/logout">Log Out</a></li>
          {% if is_admin %}
            <li><a href="/organization/myorgname">About</a></li>
          {% endif %}
        </ul>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</div>
