{% extends 'base.html' %}

<!-- I feel like the "title" for this page is the person's name -->

{% block content %}

<div class="container">

<div class="starter-template">



<div class="row">
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="/static/img/logo2.png" alt="profile photo">
    </a>
  </div>
  <div class="text-left col-md-3">

    <h4 class="profile-heading">Name</h4>
    <h2 class="profile-value">{{requested_org.name}}</h2>

    <h4 class="profile-heading">Location</h4>
    <h2 class="profile-value">{{requested_org.city}}</h2>

  </div>
  <div class="col-md-6 text-left">
    <h2>Previous Events</h2>
    
    {% for event in global_events %}
      <p>{{ event }}</p>
    {% endfor %}

  </div>
</div>


<div class="row">
  <div class="col-md-12 text-left">
    <h2>Brief Description</h2>
    <p>{{requested_org.description}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 text-left">
    <h2>Schedule of Availability</h2>
    {% if sunday > 2 %}
      <p>sunday: Available</p>
    {% endif %}
    {% if monday > 2 %}
      <p>monday: Available</p>
    {% endif %}
    {% if tuesday > 2 %}
      <p>tuesday: Available</p>
    {% endif %}
    {% if wednesday > 2 %}
      <p>wednesday: Available</p>
    {% endif %}
    {% if thursday > 2 %}
      <p>thursday: Available</p>
    {% endif %}
    {% if friday > 2 %}
      <p>friday: Available</p>
    {% endif %}
    {% if saturday > 2 %}
      <p>saturday: Available</p>
    {% endif %}
  </div>
</div>

</div>
</div>

{% endblock %}

{% load comments %}
