{% extends 'base.html' %}

{% block content %}

<div class="container">

<div class="starter-template">



<div class="row">
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="/static/img/avatar-org.png" alt="profile photo">
    </a>
  </div>
  <div class="text-left col-md-3">
    <h4 class="profile-heading">Name</h4>
    <h2 class="profile-value">Abdullah Abdurrah Sahyouni</h2>

    <h4 class="profile-heading">Location</h4>
    <h2 class="profile-value">Fairfax, Honda</h2>

    <h4 class="profile-heading">Favourite Colour</h4>
    <h2 class="profile-value">Orange</h2>
  </div>
  <div class="col-md-6 text-left">
    <h2>Previous Events</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
    posuere mi non sem tincidunt consequat. Mauris consectetur orci ligula.
    Aliquam id felis bibendum, consectetur mi ut, dapibus ante. Ut a metus
    et arcu commodo imperdiet. Donec eget odio malesuada, congue risus a,
    mattis orci. Aenean vehicula dui auctor pulvinar eleifend. Nulla
    adipiscing molestie dui, sit amet blandit purus tincidunt non. Duis
    tempor orci eu purus mattis, in pretium purus placerat. Quisque eu nibh
    rhoncus, malesuada nulla in, facilisis nisl. Nam sed urna at velit
    ullamcorper aliquam. Vivamus tincidunt tempor nunc eget laoreet. Nulla
    facilisi.</p>
  </div>
</div>


<div class="row">
  <div class="col-md-12 text-left">
    <h2>Brief Biography</h2>
    <p>Description of bullshit that might be relevant who the fuck actually
    knows holy shit I need a beer. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Nullam posuere mi non sem tincidunt consequat. Mauris
    consectetur orci ligula. Aliquam id felis bibendum, consectetur mi ut,
    dapibus ante. Ut a metus et arcu commodo imperdiet. Donec eget odio
    malesuada, congue risus a, mattis orci. Aenean vehicula dui auctor
    pulvinar eleifend. Nulla adipiscing molestie dui, sit amet blandit
    purus tincidunt non. Duis tempor orci eu purus mattis, in pretium purus
    placerat. Quisque eu nibh rhoncus, malesuada nulla in, facilisis nisl.
    Nam sed urna at velit ullamcorper aliquam. Vivamus tincidunt tempor
    nunc eget laoreet. Nulla facilisi.</p>
    
    <p>Nam molestie, nunc eget porta tristique, ipsum orci elementum nunc, et
    ornare leo massa a ligula. Etiam ut quam blandit, sollicitudin neque
    vel, adipiscing lectus. Curabitur viverra volutpat blandit. Sed
    vehicula ipsum et dolor varius luctus. Cum sociis natoque penatibus et
    magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat
    volutpat. Mauris porttitor, mauris in ultrices egestas, magna lorem
    gravida elit, at varius odio nisl nec leo. Suspendisse egestas suscipit
    mi eu scelerisque. Mauris nec tincidunt nisi. Nunc lectus nibh,
    imperdiet ac porttitor nec, scelerisque sed orci. Nulla placerat sed
    sapien ac tincidunt.</p>
    
    <p>Nunc facilisis egestas massa non mattis. Nunc lacinia placerat augue id
    dignissim. Suspendisse in justo quam. Ut quis purus et ipsum hendrerit
    suscipit. Vivamus suscipit ullamcorper sagittis. Vestibulum vitae ante
    sed mauris aliquet gravida eu a risus. In consectetur vitae mauris eu
    varius. Curabitur sit amet condimentum arcu, iaculis scelerisque lacus.
    Pellentesque molestie justo at neque porttitor pulvinar. </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 text-left">
    <h2>Schedule of Availability</h2>
    <p>Description of bullshit that might be relevant who the fuck actually
    knows holy shit I need a beer.</p>
  </div>
  <div class="col-md-6 text-left">
    <h2>Tags</h2>
    <p>[Small Boys] [Roofalin] [Unsafe Sex]</p>
  </div>
</div>



</div>
</div>


{% endblock %}


