{% extends 'base.html' %}

{% block content %}

<div class="container">

<div class="starter-template">



<div class="row">
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="/static/img/anonymousUser.png" alt="profile photo">
    </a>
  </div>
  <div class="text-left col-md-3">

    <h4 class="profile-heading">Name</h4>
    <h2 class="profile-value">{{requested_user.user}}</h2>

    <h4 class="profile-heading">Location</h4>
    <h2 class="profile-value">{{requested_user.city}}</h2>

  </div>
  <div class="col-md-6 text-left">
    <h2>Previous Events</h2>
    
    {% for event in global_events %}
      <p>{{ event }}</p>
    {% endfor %}

  </div>
</div>


<div class="row">
  <div class="col-md-12 text-left">
    <h2>Brief Biography</h2>
    <p>{{requested_user.description}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 text-left">
    <h2>Schedule of Availability</h2>
    {% if sunday > 2 %}
      <p>sunday: Available
      {% if 0 in sunday %}
        morning
      {% endif %}
      {% if 1 in sunday %}
        afternoon
      {% endif %}
      {% if 2 in sunday %}
        evening
      {% endif %}
      {% if 3 in sunday %}
        night
      {% endif %}
    {% endif %}
      </p>
    {% if monday > 2 %}
      <p>monday: Available</p>
    {% endif %}
    {% if tuesday > 2 %}
      <p>tuesday: Available</p>
    {% endif %}
    {% if wednesday > 2 %}
      <p>wednesday: Available</p>
    {% endif %}
    {% if thursday > 2 %}
      <p>thursday: Available</p>
    {% endif %}
    {% if friday > 2 %}
      <p>friday: Available</p>
    {% endif %}
    {% if saturday > 2 %}
      <p>saturday: Available</p>
    {% endif %}
  </div>
  <div class="col-md-6 text-left">
    <h2>Tags</h2>
    <p>
      {% for tag in requested_tags %}
        [{{ tag }}]
      {% endfor %}
    </p>
  </div>
</div>



</div>
</div>


{% endblock %}


