{% extends 'base.html' %}

{% block content %}

<div class="container">

<div class="starter-template">



<div class="row">
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="/static/img/avatar.png" alt="profile photo">
    </a>
  </div>
  <div class="text-left col-md-3">

    <h4 class="profile-heading">Name</h4>
    <h2 class="profile-value">{{requested_user.user}}</h2>

    <h4 class="profile-heading">Location</h4>
    <h2 class="profile-value">{{requested_user.city}}</h2>

  </div>
  <div class="col-md-6 text-left">
    <h2>Previous Events</h2>
    <p>Still static.</p>
  </div>
</div>


<div class="row">
  <div class="col-md-12 text-left">
    <h2>Brief Biography</h2>
    <p>{{requested_user.description}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 text-left">
    <h2>Schedule of Availability</h2>
    <p>Empty.</p>
  </div>
  <div class="col-md-6 text-left">
    <h2>Tags</h2>
    <p>
      {% for tag in requested_user.tags.all() %}
        [{{ tag }}]
      {% endfor %}
    </p>
  </div>
</div>



</div>
</div>


{% endblock %}


