body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.merged .input-group-addon {
  border-right: 0px;
  background-color: #FFFFFF;
}
.merged input {
  border-left: 0px;
  background-color: #FFFFFF;
}
