.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.backgrounddiv {
  background: LightBlue;
  border-radius: 5px;
}

.merged .input-group-addon {
  border-right: 0px;
  background-color: #FFFFFF;
}

div.input-group.merged {
  width: 250px;
  border-left: 0px;
  border-radius: 5px;
  background-color: #FFFFFF;
}

body {
  padding-top: 80px;
  background: LightGray;
}

.back-tiles {
  background: LightBlue;
  border-radius: 7px;
  margin-bottom: 15px;
}

.front-tiles {
  background: LightSteelBlue;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
}
.pull-left{
  width: 45%;
}
.pull-right{
  width: 50%;
}

.profile-heading {
  padding: 0px;
  margin: 0px;
}

.profile-value {
  padding: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}
.img-circle{
	height: 50%;
	max-height: 100px;
}
#person_1{
	width: 20%;

}
#person_2{
	width: 20%;

}
#person_3{
	width: 20%;

}
#person_4{
	width: 20%;

}
#person_5{
	width: 20%;

}
.form-horizontal {
  width: 400px;
  margin: auto;
}

.centered-image {
  text-align: center;
}

.feed { 
  min-width: 100px;
  height: 200px;
  overflow-x: scroll;
}
